#container {
background-color : light-grey;
min-height : 400px;
min-width : 100px;
}
header {
z-index : 3;
background-color: #F44336;
height : 50px;
color : black;
position : fixed;
width : 100%;
top : 0%;
padding-top:8px;
text-align : center;
box-shadow : 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.08);
}
body {
font-size : 100%;
overflow-x : hidden;
height : 400px;
width : 200px;
}
img {
height : 100px;
width : 100px;
}
#list{
	margin-top:50px;
	display:block;
}
.tile {
margin : 5px 5px 5px 5px;
background-color :#E0E0E0;
width : 200px;
height : 100px;
box-shadow: 2px 2px 2px grey;
opacity:0.9;
}
.tile:hover{
	background-color:grey;
	opacity:1;
}
.btn{
	background-color:white;
	color:black;
	box-shadow:3px 3px 2px black;
}
.btn:hover{
	height:38px;
	width:70px;
}
.removeButtons{
	margin-left:50px;	
	border-radius:50%;
}
.removeButtons:hover{
	color:red;
	border-radius:50%;
	font-size:18px;
}